In [1]:
import pandas as pd
import numpy as np

In [10]:
df = pd.DataFrame({"E_1":[0.67574,0.99199,0.95368,0.43343],"E_2":[0.74338,0.99140,0.95439,0.59768],"n":[100,1000,250,50],"p":[100,20,50,100],"p/n":[1,0.02,0.2,2]})

In [11]:
df.sort_values(by=['p/n'])

       E_1      E_2     n    p   p/n
1  0.99199  0.99140  1000   20  0.02
2  0.95368  0.95439   250   50  0.20
0  0.67574  0.74338   100  100  1.00
3  0.43343  0.59768    50  100  2.00

In [12]:
df = df.append(pd.DataFrame([[0.54959,0.0285,0.56245,0.02834,100,50,0.5]], columns=['E_1','sd(E_1)','E_2','sd(E_2)','n','p','p/n']))

In [13]:
df = df.append(pd.DataFrame([[0.42806,0.01219,0.53615,0.01063,100,150,1.5]], columns=['E_1','sd(E_1)','E_2','sd(E_2)','n','p','p/n']))

In [14]:
df

       E_1      E_2     n    p   p/n  sd(E_1)  sd(E_2)
0  0.67574  0.74338   100  100  1.00      NaN      NaN
1  0.99199  0.99140  1000   20  0.02      NaN      NaN
2  0.95368  0.95439   250   50  0.20      NaN      NaN
3  0.43343  0.59768    50  100  2.00      NaN      NaN
0  0.54959  0.56245   100   50  0.50  0.02850  0.02834
0  0.42806  0.53615   100  150  1.50  0.01219  0.01063

In [15]:
df.to_csv(r'datalog.csv')