In [1]:
import pandas as pd
import numpy as np

In [74]:
df = pd.DataFrame({"E_1":[0.67574,0.99199,0.95368,0.43343],"E_2":[0.74338,0.99140,0.95439,0.59768],"n":[100,1000,250,50],"p":[100,20,50,100],"p/n":[1,0.02,0.2,2]})

In [75]:
#df = df.append(pd.DataFrame([[0.54959,0.0285,0.56245,0.02834,100,50,0.5]], columns=['E_1','sd(E_1)','E_2','sd(E_2)','n','p','p/n']))

In [76]:
#df = df.append(pd.DataFrame([[0.42806,0.01219,0.53615,0.01063,100,150,1.5]], columns=['E_1','sd(E_1)','E_2','sd(E_2)','n','p','p/n']))

In [77]:
df = df.append(pd.DataFrame([[0.27064,0.08316,0.42851,0.08770,10,20,2]], columns=['E_1','sd(E_1)','E_2','sd(E_2)','n','p','p/n']))

In [78]:
df = df.append(pd.DataFrame([[0.55973,0.07441,0.56433,0.07290,100,20,0.2]], columns=['E_1','sd(E_1)','E_2','sd(E_2)','n','p','p/n']))

In [79]:
df = df.append(pd.DataFrame([[0.11553,0.02741,0.24648,0.03453,10,50,5]], columns=['E_1','sd(E_1)','E_2','sd(E_2)','n','p','p/n']))

In [80]:
df = df.append(pd.DataFrame([[0.92849,0.03108,0.92817,0.03162,1000,20,0.02]], columns=['E_1','sd(E_1)','E_2','sd(E_2)','n','p','p/n']))

In [81]:
df = df.append(pd.DataFrame([[0.97137,0.01750,0.96722,0.02460,10000,20,0.002]], columns=['E_1','sd(E_1)','E_2','sd(E_2)','n','p','p/n']))

In [82]:
df = df.append(pd.DataFrame([[0.54857,0.02672,0.55819,0.02498,100,50,0.5]], columns=['E_1','sd(E_1)','E_2','sd(E_2)','n','p','p/n']))

In [83]:
df = df.append(pd.DataFrame([[0.92237,0.01717,0.92280,0.01650,1000,50,0.05]], columns=['E_1','sd(E_1)','E_2','sd(E_2)','n','p','p/n']))

In [84]:
df = df.append(pd.DataFrame([[0.05551,0.00949,0.13197,0.01376,10,100,10]], columns=['E_1','sd(E_1)','E_2','sd(E_2)','n','p','p/n']))

In [85]:
df = df.append(pd.DataFrame([[0.99432,0.00976,0.99573,0.00675,10000,50,0.005]], columns=['E_1','sd(E_1)','E_2','sd(E_2)','n','p','p/n']))

In [86]:
df = df.append(pd.DataFrame([[0.50985,0.01420,0.55533,0.01422,100,100,1]], columns=['E_1','sd(E_1)','E_2','sd(E_2)','n','p','p/n']))

In [87]:
df = df.append(pd.DataFrame([[0.92685,0.00806,0.92830,0.00775,1000,100,0.1]], columns=['E_1','sd(E_1)','E_2','sd(E_2)','n','p','p/n']))

In [88]:
df = df.append(pd.DataFrame([[0.99825,0.00121,0.99810,0.00222,10000,100,0.01]], columns=['E_1','sd(E_1)','E_2','sd(E_2)','n','p','p/n']))

In [89]:
df=df.dropna()

In [90]:
df

       E_1      E_2      n    p     p/n  sd(E_1)  sd(E_2)
0  0.27064  0.42851     10   20   2.000  0.08316  0.08770
0  0.55973  0.56433    100   20   0.200  0.07441  0.07290
0  0.11553  0.24648     10   50   5.000  0.02741  0.03453
0  0.92849  0.92817   1000   20   0.020  0.03108  0.03162
0  0.97137  0.96722  10000   20   0.002  0.01750  0.02460
0  0.54857  0.55819    100   50   0.500  0.02672  0.02498
0  0.92237  0.92280   1000   50   0.050  0.01717  0.01650
0  0.05551  0.13197     10  100  10.000  0.00949  0.01376
0  0.99432  0.99573  10000   50   0.005  0.00976  0.00675
0  0.50985  0.55533    100  100   1.000  0.01420  0.01422
0  0.92685  0.92830   1000  100   0.100  0.00806  0.00775
0  0.99825  0.99810  10000  100   0.010  0.00121  0.00222

In [100]:
df = df.sort_values(by=['n','p'])

In [101]:
df = df.reset_index(drop=True)

In [102]:
df

        E_1      E_2      n    p     p/n  sd(E_1)  sd(E_2)
0   0.27064  0.42851     10   20   2.000  0.08316  0.08770
1   0.11553  0.24648     10   50   5.000  0.02741  0.03453
2   0.05551  0.13197     10  100  10.000  0.00949  0.01376
3   0.55973  0.56433    100   20   0.200  0.07441  0.07290
4   0.54857  0.55819    100   50   0.500  0.02672  0.02498
5   0.50985  0.55533    100  100   1.000  0.01420  0.01422
6   0.92849  0.92817   1000   20   0.020  0.03108  0.03162
7   0.92237  0.92280   1000   50   0.050  0.01717  0.01650
8   0.92685  0.92830   1000  100   0.100  0.00806  0.00775
9   0.97137  0.96722  10000   20   0.002  0.01750  0.02460
10  0.99432  0.99573  10000   50   0.005  0.00976  0.00675
11  0.99825  0.99810  10000  100   0.010  0.00121  0.00222

In [113]:
data = df.iloc[:,:5]

In [112]:
data.to_csv(r'datalog.csv')