In [1]:
import pandas as pd
import numpy as np

In [32]:
df = pd.DataFrame({"E_1":[0.67574,0.99199,0.95368,0.43343],"E_2":[0.74338,0.99140,0.95439,0.59768],"n":[100,1000,250,50],"p":[100,20,50,100],"p/n":[1,0.02,0.2,2]})

In [54]:
df.sort_values(by=['p','n'])

       E_1      E_2      n    p     p/n  sd(E_1)  sd(E_2)
0  0.27064  0.42851     10   20   2.000  0.08316  0.08770
0  0.55973  0.56433    100   20   0.200  0.07441  0.07290
0  0.92849  0.92817   1000   20   0.020  0.03108  0.03162
0  0.97137  0.96722  10000   20   0.002  0.01750  0.02460
0  0.11553  0.24648     10   50   5.000  0.02741  0.03453
0  0.54959  0.56245    100   50   0.500  0.02850  0.02834
0  0.54857  0.55819    100   50   0.500  0.02672  0.02498
0  0.92237  0.92280   1000   50   0.050  0.01717  0.01650
0  0.99432  0.99573  10000   50   0.005  0.00976  0.00675
0  0.05551  0.13197     10  100  10.000  0.00949  0.01376
0  0.50985  0.55533    100  100   1.000  0.01420  0.01422
0  0.92685  0.92830   1000  100   0.100  0.00806  0.00775
0  0.99825  0.99810  10000  100   0.010  0.00121  0.00222
0  0.42806  0.53615    100  150   1.500  0.01219  0.01063

In [34]:
df = df.append(pd.DataFrame([[0.54959,0.0285,0.56245,0.02834,100,50,0.5]], columns=['E_1','sd(E_1)','E_2','sd(E_2)','n','p','p/n']))

In [35]:
df = df.append(pd.DataFrame([[0.42806,0.01219,0.53615,0.01063,100,150,1.5]], columns=['E_1','sd(E_1)','E_2','sd(E_2)','n','p','p/n']))

In [36]:
df = df.append(pd.DataFrame([[0.27064,0.08316,0.42851,0.08770,10,20,2]], columns=['E_1','sd(E_1)','E_2','sd(E_2)','n','p','p/n']))

In [37]:
df = df.append(pd.DataFrame([[0.55973,0.07441,0.56433,0.07290,100,20,0.2]], columns=['E_1','sd(E_1)','E_2','sd(E_2)','n','p','p/n']))

In [38]:
df = df.append(pd.DataFrame([[0.11553,0.02741,0.24648,0.03453,10,50,5]], columns=['E_1','sd(E_1)','E_2','sd(E_2)','n','p','p/n']))

In [39]:
df = df.append(pd.DataFrame([[0.92849,0.03108,0.92817,0.03162,1000,20,0.02]], columns=['E_1','sd(E_1)','E_2','sd(E_2)','n','p','p/n']))

In [40]:
df = df.append(pd.DataFrame([[0.97137,0.01750,0.96722,0.02460,10000,20,0.002]], columns=['E_1','sd(E_1)','E_2','sd(E_2)','n','p','p/n']))

In [41]:
df = df.append(pd.DataFrame([[0.54857,0.02672,0.55819,0.02498,100,50,0.5]], columns=['E_1','sd(E_1)','E_2','sd(E_2)','n','p','p/n']))

In [42]:
df = df.append(pd.DataFrame([[0.92237,0.01717,0.92280,0.01650,1000,50,0.05]], columns=['E_1','sd(E_1)','E_2','sd(E_2)','n','p','p/n']))

In [43]:
df = df.append(pd.DataFrame([[0.05551,0.00949,0.13197,0.01376,10,100,10]], columns=['E_1','sd(E_1)','E_2','sd(E_2)','n','p','p/n']))

In [44]:
df = df.append(pd.DataFrame([[0.99432,0.00976,0.99573,0.00675,10000,50,0.005]], columns=['E_1','sd(E_1)','E_2','sd(E_2)','n','p','p/n']))

In [45]:
df = df.append(pd.DataFrame([[0.50985,0.01420,0.55533,0.01422,100,100,1]], columns=['E_1','sd(E_1)','E_2','sd(E_2)','n','p','p/n']))

In [47]:
df = df.append(pd.DataFrame([[0.92685,0.00806,0.92830,0.00775,1000,100,0.1]], columns=['E_1','sd(E_1)','E_2','sd(E_2)','n','p','p/n']))

In [48]:
df = df.append(pd.DataFrame([[0.99825,0.00121,0.99810,0.00222,10000,100,0.01]], columns=['E_1','sd(E_1)','E_2','sd(E_2)','n','p','p/n']))

In [53]:
df=df.dropna()

In [49]:
df

       E_1      E_2      n    p     p/n  sd(E_1)  sd(E_2)
0  0.67574  0.74338    100  100   1.000      NaN      NaN
1  0.99199  0.99140   1000   20   0.020      NaN      NaN
2  0.95368  0.95439    250   50   0.200      NaN      NaN
3  0.43343  0.59768     50  100   2.000      NaN      NaN
0  0.54959  0.56245    100   50   0.500  0.02850  0.02834
0  0.42806  0.53615    100  150   1.500  0.01219  0.01063
0  0.27064  0.42851     10   20   2.000  0.08316  0.08770
0  0.55973  0.56433    100   20   0.200  0.07441  0.07290
0  0.11553  0.24648     10   50   5.000  0.02741  0.03453
0  0.92849  0.92817   1000   20   0.020  0.03108  0.03162
0  0.97137  0.96722  10000   20   0.002  0.01750  0.02460
0  0.54857  0.55819    100   50   0.500  0.02672  0.02498
0  0.92237  0.92280   1000   50   0.050  0.01717  0.01650
0  0.05551  0.13197     10  100  10.000  0.00949  0.01376
0  0.99432  0.99573  10000   50   0.005  0.00976  0.00675
0  0.50985  0.55533    100  100   1.000  0.01420  0.01422
0  0.92685  0.92830   1000  100   0.100  0.00806  0.00775
0  0.99825  0.99810  10000  100   0.010  0.00121  0.00222

In [15]:
df.to_csv(r'datalog.csv')